.btn{
    background-color: #1d1c3b;
    color: #fff;
    padding: 7px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover{
    background-color: #343259;
    transition: 0.4s;
}