.modal-container {
    width: 600px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 15%;
    left: 35%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 100px;
    border-radius: 10px;
    max-height: 100%;
    color: #000;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin: 0px 0 30px 0;
}

.modal-title {
    font-size: 1.4rem;
}

.form-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}