.modal-container {
    width: 600px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 5%;
    left: 35%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 80px;
    max-height: 100%;
    color: #000;
    z-index: 999;
    font-weight: 100;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin: 0px 0 30px 0;
}

.modal-title {
    font-size: 1.4rem;
}

.form-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media screen and (max-width:420px) {
    .modal-container{
        width: 100%;
        top: 5%;
        left: 0;
        right: 0;
    }
}