.table-cat{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin: 80px;
    border-radius: 10px;
}
.title-cat{
    font-size: 1.2rem;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    width: 100vw;
    text-align: left;
}
.category-list{
    display: flex;
    flex-direction: column;
}
.tr-cat-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.categories-name{
    display: flex;
    align-items: center;
    text-align: left;
}
.category-id{
    color: #929292;
    font-weight: 100;
}
.btn-cat{
    cursor: pointer;
}