.input-form{
    padding: 2px;
    font-size: 1.2rem;
    outline: none;
    border-bottom: 1px solid #cccc;
    margin: 10px;
    width: 100%;
}

.input-date{
    outline: none;
    border-bottom: 1px solid;
    width: 620px;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.expiration-title{
    margin-top: 30px;
}
.category-select{
    margin-top: 30px;
    outline: none;
    width: 620px;
    text-align: center;
    border-bottom: 1px solid;
    padding: 10px;
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: center;
}
.form-product{
    display: flex;
    flex-direction: column;
}