@import "tailwindcss";

:root {
  --background: #fff;
  --second-color: #333232;
  --foreground: #000;
  --sub: #5a5a5a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-second: var(--second-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sub: var(--sub)
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}