.title-expire{
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    margin-top: 30px;
    padding: 20px;
}
.expiring-container{
    display: flex;
    margin-bottom: 200px;
}

.expired-container, .close-expiration-container{
    width: 50%;
}
.expireds, .close-expire{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
}
.expired-products, .close-expiration{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    align-items: center;
}
.btn-delete-expire:hover{
    color: rgb(219, 98, 98);
    transition: 0.2s;
    cursor: pointer;
}
