.btn-new-cat {
    background-color: #1d1c3b;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
    
}
.btn-new-cat:hover{
    background-color: #2c2b59;
    transition: 0.3s;
}
.modal-cat-opened {
    display: block;
    background-color: #fff;
    width: 600px;
    position: absolute;
    top: 18%;
    left: 35%;
    padding: 80px;
    border-radius: 20px;
    border: 1px solid #000;
}

.modal-cat-closed {
    display: none;
}