.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 450px;
    padding: 50px;
    border-radius: 10px;
    margin: 20px 0 0 10px;
    height: 150px;
    font-size: 1.1rem;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: #8c8c8c;
}

.number-info {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
    color: #000;
}



.charts{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
.pie-chart{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.column-chart{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}