.main-productsList{
    display: flex;
    justify-content: center;
}
.table-products-list{
    width: 1300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.titles-product{
    border-bottom: 1px solid #ccc;
    padding: 15px;
}
.products-name{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 5px;
}
.product-id{
    color: #929292;
    font-weight: 100;
}
.icon-categories{
    margin: 5px 10px 5px 10px;
}
.products-th, .tr-products{
    padding: 15px;
}
.modal-product-infos{
    font-size: 1.2rem;
    padding: 10px;
}
